{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Platform</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ReviewPlatform</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/add-shop/">Add Shop</a></li>
          <li class="nav-item"><a class="nav-link" href="/del-shop/">Delete Shop</a></li>
          <li class="nav-item"><a class="nav-link" href="/upd-shop/">Update Shop</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/register/">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    {% block content %}{% endblock %}
  </div>
</body>
</html>